<li id="event-<%= event.id %>">
	<span class="user"><%= link_to event.creator.username, event.creator %></span>
	<span class="title"><%= event.title %></span>
	<span class="location"><%= event.location %></span>
	<span class="event_time"><%= event.event_time %></span>
	<span class="event_date"><%= event.event_date %></span>
	<span class="description"><%= event.description %></span>
</li>